.form-app {
  background-image: url("../assets/texture.png");
  background-size: 400px;
  background-repeat: repeat;
  min-height: 100vh;
  padding: 2rem;

  &__inputs,
  &__checkboxes {
    @media only screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 0 2rem;
    }
  }

  &__header,
  &__container {
    margin: auto;
    max-width: 1028px;
  }

  &__header {
    margin-bottom: 2rem;

    h3 {
      font-weight: 700;
      font-size: 1.8em;
      margin: 1rem 0;
    }

    span {
      color:rgb(96, 96, 96);
    }
  }

  &__input,
  &__select,
  &__checkbox {
    margin: 1rem 0;
  }

  &__input {
    display: flex;
    flex-direction: column;

    span {
      font-weight: 500;
      letter-spacing: .5px;
      margin-bottom: .5em;
    }

    input {
      padding: 2px 8px;
      border: 3px solid rgb(191, 221, 228);
      box-shadow: 0px 2px 4px -1px #808080;
    }
  }

  &__select {
    display: flex;
    flex-direction: column;

    select {
      margin-top: 1rem;
      padding: 2px 8px;
      border: 3px solid rgb(191, 221, 228);
      box-shadow: 0px 2px 4px -1px #808080;
    }
  }

  &__checkbox {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;

    input {
      margin-right: 1em;
      height: 1rem;
      width: 1rem;
    }
  }

  &__buttons {
    margin-top: 3rem;
  }

  &__button {
    cursor: pointer;
    font-weight: 700;
    padding: 1rem;
    width: 12rem;
    margin-right: 1rem;
    margin-top: 1rem;
    border-radius: 2rem;
    border: none;
    box-shadow: 0px 4px 10px -1px #808080;

    &--submit {
      background-color: blueviolet;
      color: white;
    }
  }
}
